

.window-mode {
    border: 1px solid #0f0f0f;
    box-shadow: 1px 1px 5px #333;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    color: #d4c39c;
    background-color: #080808a8;
    /* background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgba(132,66,0, 0.6509803921568628),rgba(77,40,0, 0.6509803921568628)); */
}

.window-mode a {
    text-decoration: none; 
    color: #d4c39c;   
}

.window-mode h5 {
    text-align: center;
    margin: auto;
    font-weight: bold;
    border-bottom: 1px solid #d4c39c;
    padding-bottom: 0.5rem;
}

.portfolio-image {
    width: 80%;
    padding: 1rem;
}

.portfolio {
    width: 100%;
    padding-left: 20%;
}

.project-links {
    text-align: center;
}

.project-links a:focus, .project-links a:hover {
  
    color: rgb(255, 217, 0);
    text-decoration: none;
  }

.portfolio img {
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%); 
}

.portfolio img:hover {    
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */
}

@keyframes stretch {
    0% {
        transform: scale(1);
        -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
        filter: grayscale(90%); 
    }

    100% {
        transform: scale(1.1);
        -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
        filter: grayscale(10%);
    }
}