.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
  padding-top: 5em;
  font-family: 'Roboto', sans-serif;
}

a:focus, a:hover {
  
  color: rgb(255, 217, 0);
  text-decoration: none;
}
a {
  font-family: 'Roboto', sans-serif;
  color: black;
}

i {
  color: black;
  margin-right: 0.5em;
}
