.grad-bg {
    background: repeating-linear-gradient(#EEE, #FFF 1px);
    /* background-size: 400% 400%; */
    /* animation: change 20s ease-in-out infinite; */
}

/* @keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} */