.navbar-header img {
    border-radius: 50%;
    width: 2.5rem;
    padding-right: 0.5rem;
}

.active {
    color: #ffcc00;
}

@media screen and (min-width: 576px) {
    #collapsibleNavbar {
        margin-left: 500px;
    }
}