.navbar-header img {
    border-radius: 50%;
    width: 2.5rem;
    padding-right: 0.5rem;
}

.active {
    color: #ffcc00;
}

nav {
    background-color: #000000;
    box-shadow: 1px 1px 2px 1px rgb(65, 65, 65);
}

@media screen and (min-width: 576px) {
    #collapsibleNavbar {
        margin-left: 500px;
    }
}